
<!doctype html>
<html lang="en">
  <head>
<%- include ("../partial/head"); %>
  </head>
  <body>
<%- include ("../partial/header"); %>

<%- include ("../partial/index"); %>

<%- include("../partial/footer"); %>
</body>
</html>
