
<!doctype html>
<html lang="en">
  <head>
	 
<%- include ("../partial/head"); %>
  </head>
  <body  style="padding:3.5rem;">
<%- include ("../partial/header"); %>
<br>
<br>
<%- include ("../partial/form"); %>
<hr>
<%- include("../partial/footer"); %>
</body>
</html>
